body { font-family:Verdana; font-size:14px; margin:0; background-color: #fff;}
#container {margin:0 auto; width:900px;}
#header { height:100px; background:#6cf; margin-bottom:5px;}
#footer { height:60px; background:#6cf;}
 /*固定宽度-1*/
#container1 {margin:0 auto; width:900px; height:500px; background:#6cf;}
 /*固定宽度-2*/#container {margin:0 auto; width:900px;}
#mainContent2 { height:500px; background:#cff;}
/*固定宽度-3*/
#mainContent3 { height:500px; background:#cff; margin-bottom:5px;}
/*固定宽度-4*/
#menu4 { height:30px; background:#09c; margin-bottom:2px;}
#mainContent4 { height:500px; background:#cff; margin-bottom:5px;}
/*固定宽度-5*/
#sidebar5 { float:left; width:200px; height:500px; background:#6cf;}
#content5 { float:right; width:695px; height:500px; background:#cff;}
/*固定宽度-6*/
#sidebar6 { float:right; width:200px; height:500px; background:#6cf;}
#content6{ float:left; width:695px; height:500px; background:#cff;}
/*固定宽度-7*/
#sidebar7 { float:left; width:447px; height:500px; background:#6cf;}
#content7 { float:right; width:447px; height:500px; background:#cff;}
/*固定宽度-8*/
#mainContent8 { margin-bottom:5px;}
#sidebar8 { float:left; width:200px; height:500px; background:#9ff;}
#content8 { float:right; width:695px; height:500px; background:#cff;}
/*固定宽度-9*/
#mainContent9 { height:500px; margin-bottom:5px;}
#sidebar9 { float:right; width:200px; height:500px; background:#9ff;}
#content9{ float:left; width:695px; height:500px; background:#cff;}
/*固定宽度-10*/
#mainContent10 { height:500px; margin-bottom:5px;}
#sidebar10 { float:left; width:200px; height:500px; background:#9ff;}
#content10 { float:right; width:695px; height:500px; background:#cff;}
/*固定宽度-11*/
#mainContent11 { height:500px; margin-bottom:5px;}
#sidebar11 { float:right; width:200px; height:500px; background:#9ff;}
#content11 { float:left; width:695px; height:500px; background:#cff;}
/*固定宽度-12*/
#mainContent12 { height:500px; margin-bottom:5px;}
#menu { height:30px; background:#09c; margin-bottom:5px;}
#sidebar12 { float:left; width:200px; height:500px; background:#9ff;}
#content12 { float:right; width:695px; height:500px; background:#cff;}